#sponsorship
  %p Through child sponsorship, BB brings together people of different cultures and countries, building a global commitment to the needs and rights of children.
  %ul.numbering
    %li= link_to "Where does my money go?", :anchor => "1"
    %li= link_to "How does BB choose which communities to work in?", :anchor => "2"
    %li= link_to "How are children selected for sponsorship?", :anchor => "3"
    %li= link_to "How long will my sponsorship last?", :anchor => "4"
    %li= link_to "How is BB different from other sponsorship organisations?", :anchor => "5"
    %li= link_to "As a sponsor what do I receive?", :anchor => "6"
    %li= link_to "Can I visit my sponsored child?", :anchor => "7"
    %li= link_to "Which countries can I sponsor a child from?", :anchor => "8"
    %li= link_to "Why doesn't Plan publish photos of children to be sponsored?", :anchor => "9"
    %li= link_to "Can I choose the child that I want to sponsor?", :anchor => "10"
    %li= link_to "What are my payment options?", :anchor => "11"
  
  %p Questions and Answers in Full...

  %h6#1 1. Where does my money go?
  %p Globally an average of 80% of donations goes to program activities.
  %p Money raised through child sponsorship goes to projects that benefit the whole community, not individual children. 

  %p The sponsored child serves as representative for their community and through the exchange of letters, photos and regular reports, sponsors gain a real insight into Plan’s development work.

  %p The ongoing commitment of child sponsorship allows a steady stream of funds that Plan can allocate in advance to ensure community development work continues.

  %p The number of children sponsored is directly related to a real figure of resources that are needed to realise the community's development goals. If Plan has not found sponsors for children that are part of the program, then that project is not fully funded.

  %p Learn more about how Plan funds its work.
  
  %a#top Back to top

  %h6#2 2. How does Plan choose which communities to work in?

  %p Communities in need are chosen by Plan through detailed research, which identifies the degree of poverty as part of the assessment.

  %p Plan then spends three to six months consulting with the community. Youth, women, leaders and of course, children are approached individually and in groups to gain a sense of the challenges and priorities of the community.

  %p The next step is to work on a small project that has a short timeframe of around 6 to 12 months to see how Plan and the community can work together.

  %p After almost a year of community consultation and building relationships, trust and confidence, Plan and the community undertake a child sponsorship program where projects are chosen by the community and facilitated through Plan, which provides specialist training as well as the various resources required to complete the project successfully.

  %p Once the community is considered to have the skills, knowledge and resources to be able to sustain itself and build a better life for their children - sometimes after as long as 10 years or so (sometimes longer), Plan withdraws and moves to a new area.
  
  %a#top Back to top
  
  %h6#3 3. How are children selected for sponsorship?

  %p The selection of children for sponsorship is determined at group meetings of the community where families and the child volunteer to be enrolled in the program.

  %p Sponsored children do not receive preferential treatment over other children in the village, which ensures that all children receive the benefits of your sponsorship. They do however receive regular monitoring as part of the program, as well as sponsor letters.
  %ul
    %li Girls and boys are sponsored equally in each community.
    %li A child will graduate at 18 years of age, unless special circumstances apply.
    %li One child per household is sponsored. Siblings may be sponsored once a brother, sister or cousin reaches 18 years of age.

  %p A family may graduate from the program due to improved situation, which will allow another child and family to enter the program.
  
  %a#top Back to top
  
  %h6#4 4. How long will my sponsorship last?

  %p We hope that you will want to be part of Plan’s work for some time. Our work is long-term and committed support from sponsors allows us to achieve lasting results. Many of our sponsors stay with us for a significant number of years and some sponsor several children during that time. Some other sponsors stay with us for shorter periods. However long you will be with us, your sponsorship is very important to us. Children are normally sponsored until they reach the age of 18. 

  %p Circumstances can however change during your sponsorship: the child's family might migrate to another area, our work within that community might come to an end or simply your financial circumstances could change.

  %a#top Back to top
  
  %h6#5 5. How is Plan different from other sponsorship organisations?

  %p Plan is non-religious and non-political and is respectful of local religions and culture. We have no agenda other than helping children to realise their potential.

  %p Plan ensures that children are at the heart of everything we do. We make this happen by encouraging children to participate and contribute their ideas and opinions so that they are truly heard in their community. For example, the annual Area Updates sent to sponsors each year are prepared by youth groups in the community.

  %p We put the safety, privacy and dignity of sponsored children and their families first, which is why Plan does not publish their photos with identifying information in public, unprotected areas of our website.
  
  %a#top Back to top
  
  %h6#6 6. As a sponsor what do I receive?

  %p Sponsors receive regular information from Plan so that you are regularly updated on the program. You will receive:
  %ul
    %li Photos and information about your child and a sponsorship welcome kit.
    %li An annual update direct from the field with information about your sponsor child and about their circumstances and their community.
    %li Global Child - our bi-annual magazine packed with interesting stories and articles about Plan’s work in Australia and around the world.
    %li Our regular supporter eNewsletters
    %li Opportunity to send letters to your child and visit your child in their village.
    %li An annual tax receipt which allows you to claim the full benefit of your tax deduction with all sponsorship payments and additional donations.
    %li The knowledge that you are making a real contribution to ending the poverty cycle for children and communities. 
  
  %a#top Back to top
  
  %h6#7 7. Can I visit my sponsored child?

  %p Yes, Plan always encourages sponsors to connect with the child and community they assist, via sponsor visits. Meeting your sponsored child can be a most valued experience that strengthens your  understanding of Plan's work in the community. You are most welcome to visit your sponsored child and observe the community development work Plan has been assisting through your valued contribution. Find out more about visiting here.

  %p All visitors must go through a police check, and Plan reserves the right to refuse a sponsor’s visit at any time for child protection reasons.
  
  %a#top Back to top
  
  %h6#8 8. Which countries can I sponsor a child from?

  %p While Plan has programs in 49 developing countries not all of them have child sponsorship programs. Plan has child sponsorship programs in 47 developing countries in Asia, West Africa, East & Southern Africa and Central & South America.

  %p All countries with available sponsorships will appear in the drop-down selection list when you commence the online child sponsorship sign-up process.
  
  %a#top Back to top
  
  %h6#9 9. Why doesn't Plan publish photos of children to be sponsored?
  %p Poverty does not discriminate and nor should we

  %p Plan does not encourage the selection of children for sponsorship on the basis of their physical appearance.  The best way to choose is to compare the statistics and information on our work in each region.

  %p Plan respects people's rights and dignity

  %p It is of utmost importance that the safety, privacy and dignity of sponsored children are protected at all times, which is why Plan does not publish their photos or full names in public, unprotected areas of our website. 

  %p However, all new child sponsors who sign-up online can view their sponsor child and family photos and details by logging into MyPlan - our secure supporters area of the website.  View a sample child profile in MyPlan.  All sponsors also receive in the post:
  
  %ul
    %li A photo and information about your child and a sponsorship welcome kit; and
    %li An annual update direct from the field with photos and information about your sponsor child and about their circumstances and their community.

  %p Plan takes potential abuse of child photographs on the web very seriously so we have also put measures in place to prevent unauthorised access and copying of sponsored children's images from our website.

  %p Learn more about Plan's child protection policy.

  %a#top Back to top

  %h6#10 10. Can I choose the child that I want to sponsor?

  %p When you decide to sponsor you will be given a choice of the country you would like to sponsor a child in and a preference for age and gender. You may wish to sponsor a child similar in age to your own child or Plan will choose a child in an area most in need if no preferences are selected. Plan will then allocate a child with your preferences.

  %a#top Back to top
  
  %h6#11 11. What are my payment options?

  %p See our payment information faq section for answers to common questions.