#step1
  = render :partial => 'shared/steps'
  #main
    = image_tag @child.album.cover_thumb(228), :alt => "Child"
    .text
      %h1= "Sponsor #{@child.first_name}"
      %dl
        %dt Age:
        %dd= age(@child.birthday)
        %dt Gender:
        %dd= boy_girl?(@child.gender)
        %dt Likes:
        %dd= @child.likes
      %p= "You will be able to view #{his_her?(@child.gender)} photos and full profile when you complete the sponsorship process."
      - semantic_form_for(Sponsorship.new(:child => @child), :url => mybb_sponsorships_path) do |form|
        = form.hidden_field :child_id
        - form.buttons do
          = form.commit_button 'Sponsor Now'

  #sidebar
    .form1
      %h6 Start a new search
      %ul
        %li boy/girl
        %li age
        %li#search search
    .form2
      %h6== More children like #{@child.first_name}
      %ul
        %li
          = image_tag @child.album.cover_thumb(50), :alt => "Child"
          %p.title Akash
          %p.desc 3 years old boy
        %li
          = image_tag "image1.jpg", :alt => "Child"
          %p.title Akash
          %p.desc 3 years old boy
        %li
          = image_tag "image1.jpg", :alt => "Child"
          %p.title Akash
          %p.desc 3 years old boy
        %li
          = image_tag "image1.jpg", :alt => "Child"
          %p.title Akash
          %p.desc 3 years old boy

  .full
    .third.alpha
      .top
        %h4 Child sponsorship
        %p Sponsor a child for EUR30 a month
        %p Choose from ... asdf asf sad fsd fasd fsda fads fsda fs dafs adf asd fds a fsdf

        %p Connect MyBB
        %p Sign up online to instantly engage with your sponsored child in MyBB.

        %p What you receive
        %p You will receive ...

    .third
      .top
        %h4 Payment options
        %p Sponsor a child for EUR30 a month
        %p Choose from ... asdf asf sad fsd fasd fsda fads fsda fs dafs adf asd fds a fsdf

        %p Connect MyBB
        %p Sign up online to instantly engage with your sponsored child in MyBB.

        %p What you receive
        %p You will receive ...

    .third.omega
      .top
        %h4 Testimonial
        %p Sponsor a child for EUR30 a month
        %p Choose from ... asdf asf sad fsd fasd fsda fads fsda fs dafs adf asd fds a fsdf

        %p Connect MyBB
        %p Sign up online to instantly engage with your sponsored child in MyBB.

        %p What you receive
        %p You will receive ...
