= render :partial => 'layouts/header'
#content
  .wrapper
    = render :partial => 'layouts/flashes'

    #step1
      .steps
        %ul
          %li.active 1. Select a child
          %li 2. Your details
          %li 3. Choose payment
          %li 4. Confirm
          %li.last 5. Done!
      #main
        = image_tag "image2.jpg", :alt => "Child"
        .text
          %h1= "Sponsor #{@child.first_name}"
          %dl
            %dt Age:
            %dd= age(@child.birthday)
            %dt Gender:
            %dd= boy_girl?(@child.gender)
            %dt Likes:
            %dd= @child.likes
          %p For about 1 euro, you can transform a child's life by providing basic necessities like education, food, and the chance to help them get proper education.
          - semantic_form_for(Sponsorship.new(:child => @child), :url => mybb_sponsorships_path) do |form|
            - form.buttons do
              = form.commit_button 'Sponsor Now'

      #sidebar
        .form1
          %h6 Start a new search
          %ul
            %li boy/girl
            %li age
            %li#search search
        .form2
          %h6 More children like Akash
          %ul
            %li
              = image_tag "image1.jpg", :alt => "Child"
              %p.title Akash
              %p.desc 3 years old boy
            %li
              = image_tag "image1.jpg", :alt => "Child"
              %p.title Akash
              %p.desc 3 years old boy
            %li
              = image_tag "image1.jpg", :alt => "Child"
              %p.title Akash
              %p.desc 3 years old boy
            %li
              = image_tag "image1.jpg", :alt => "Child"
              %p.title Akash
              %p.desc 3 years old boy

      .full
        .third.alpha
          %h6 Lorem ipsum...
        .third
          %h6 Lorem ipsum...
        .third.omega
          %h6 Lorem ipsum...

= render :partial => 'layouts/footer'

- content_tag_for(:dl, resource) do
  %p.actions
    = link_to 'Edit', edit_resource_path(resource)
  |
  = link_to 'Index', collection_path
