- title = "Fund Your Sponsorships"

= render 'amount_js'

#step2
  = render :partial => 'shared/steps'

  #main
    %h2= "Your Sponsorships"
    %p= "Child sponsorship is only €30 a month. That's about €1 a day to change a life."

    - form_tag mybb_sponsorships_amounts_url, :method => :put, :id => "sponsorship_amounts" do
      %table
        %tbody.items.resources
          - @unpaid_sponsorships.each do |sponsorship|
            - if sponsorship == @unpaid_sponsorships.first
              = render 'item_featured', :resource => sponsorship
            - else
              = render 'item', :resource => sponsorship
            %td.actions= render 'remove', :resource => sponsorship
    .total
      %h4.left Today, you need to pay
      %h4.right
        %span#mybb_total_amount= "-"
      .left
        %h6 Pay with PayPal
        %p Use PayPal to fund a donation with money in your PayPal account, or to pay with a credit card.

      .right= submit_tag "Subscribe", { :id => "purchase" }

  = render :partial => 'give_more_sidebar'

#loading_status
  One sec ...
  = image_tag("grey_status_ball.gif")