#featured
  .wrapper
    #sponsor
      %h1
        Sponsor
        %br a child today
      %p For less than €1 a day, you can transform a child's life with basic necessities like education, food, and the chance to help them get proper education *rewrite.
      %ul
        %li boy/girl
        %li age
        %li#search search

    #meet.featured
      - if @child
        #info
          %h2= link_to "Meet #{@child.first_name}", child_path(@child), :id => "sponsor_now"
          %p== #{he_she?(@child.gender)}'s a 3 year old #{boy_girl?(@child.gender)} who likes #{shorten_likes(@child.likes)}
        #image
          = image_tag "child.png", :alt => "Featured child"
      - else
        %p There are no children defined yet