#featured
  .wrapper
    #sponsor
      %h1
        Sponsor
        %br a child today
      %p For less than €1 a day, you can transform a child's life with basic necessities like education, food, and the chance to help them get proper education *rewrite.
      %ul
        %li boy/girl
        %li age
        %li#search search

    #meet.featured
      - if @random_child
        #info
          %h2= link_to "Meet #{@random_child.first_name}", child_path(@random_child), :id => "sponsor_now"
          %p== #{he_she?(@random_child.gender)}'s a #{age(@random_child.birthday)} year old #{boy_girl?(@random_child.gender)} who likes #{shorten_likes(@random_child.likes)}
        #image
          - if @random_child.album
            = link_to image_tag(@random_child.album.cover_thumb(154), :alt => "Featured child"), child_path(@random_child)
      - else
        %p There are no children defined yet

