#footer
  #grass
    .wrapper
      #explanation
        .third.alpha
          %h6 What's sponsorship?
          = image_tag "icon1.png", :alt => "What's sponsorship?"
          %p Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation.
        .third
          %h6 How it works?
          = image_tag "icon2.png", :alt => "What's sponsorship?"
          %p Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation.
        .third.omega
          %h6 The benefits
          = image_tag "icon3.png", :alt => "What's sponsorship?"
          %p Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation.
          
      #sitemap
      
        .fourth.alpha
          %h6 Sitemap 1
          %ul
            %li 
              %a Lorem ipsum dolor sit amet
            %li 
              %a consectetuer adipiscing elit
            %li 
              %a sed diam nonummy nibh euismod tincidunt
            %li 
              %a laoreet dolore magna aliquam erat volutpat
            
        .fourth
          %h6 Sitemap 2
          %ul
            %li 
              %a Lorem ipsum dolor sit amet
            %li 
              %a consectetuer adipiscing elit
            %li 
              %a sed diam nonummy nibh euismod tincidunt
            %li 
              %a laoreet dolore magna aliquam erat volutpat
            
        .fourth
          %h6 Sitemap 3
          %ul
            %li 
              %a Lorem ipsum dolor sit amet
            %li 
              %a consectetuer adipiscing elit
            %li 
              %a sed diam nonummy nibh euismod tincidunt
            %li 
              %a laoreet dolore magna aliquam erat volutpat

        .fourth.omega
          %h6 Social networking
          #twitter
            = image_tag "icon_twitter.png", :alt => "Twitter icon"
            %p
              %a Follow us on Twitter
          #facebook
            = image_tag "icon_facebook.png", :alt => "Facebook icon"
            %p
              %a Visit us on Facebook