#header
  .wrapper
  
    #logo
      = image_tag "logo.png", :alt => "Building BLocks Logo"
  
    #user_nav
      %ul
        %li log in
    
    #main_nav
      %ul
        %li#child
          = link_to "sponsor a child", child_path(@child), :class => 'active'
        %li#work
          = link_to "support our work"
        %li#schools
          = link_to "our schools"
        %li#about
          = link_to "about us"